USE [master]
GO
/****** Object:  Database [Tutoria]    Script Date: 01/09/2022 07:50:04 a. m. ******/
CREATE DATABASE [Tutoria]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Tutoria', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Tutoria.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Tutoria_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Tutoria_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Tutoria].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Tutoria]
GO
/****** Object:  User [UserTutoria]    Script Date: 01/09/2022 07:50:04 a. m. ******/
CREATE USER [UserTutoria] FOR LOGIN [UserTutoria] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [UserTutoria]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [UserTutoria]
GO
/****** Object:  Table [dbo].[Administrador]    Script Date: 01/09/2022 07:50:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Administrador](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Usuario] [varchar](30) NOT NULL,
	[Nombre] [varchar](40) NOT NULL,
	[A_Paterno] [varchar](15) NOT NULL,
	[A_Materno] [varchar](15) NOT NULL,
	[Clave] [varchar](150) NOT NULL,
	[Carrera] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Alumno]    Script Date: 01/09/2022 07:50:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alumno](
	[No_control] [int] NOT NULL,
	[Nombre] [varchar](40) NOT NULL,
	[A_Paterno] [varchar](20) NOT NULL,
	[A_Materno] [varchar](20) NOT NULL,
	[Semestre] [int] NOT NULL,
	[Carrera] [varchar](30) NOT NULL,
	[Estatus] [varchar](15) NOT NULL,
	[Tutoria] [int] NOT NULL,
	[Clave] [varchar](200) NULL,
 CONSTRAINT [PK__Alumno__D50D6F686547A617] PRIMARY KEY CLUSTERED 
(
	[No_control] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Alumno_Materia]    Script Date: 01/09/2022 07:50:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alumno_Materia](
	[No_control] [int] NOT NULL,
	[idMateria] [int] NOT NULL,
	[u1_1] [varchar](20) NULL,
	[u1_2] [varchar](20) NULL,
	[u2_1] [varchar](20) NULL,
	[u2_2] [varchar](20) NULL,
	[u3_1] [varchar](20) NULL,
	[u3_2] [varchar](20) NULL,
	[u4_1] [varchar](20) NULL,
	[u4_2] [varchar](20) NULL,
	[u5_1] [varchar](20) NULL,
	[u5_2] [varchar](20) NULL,
	[u6_1] [varchar](20) NULL,
	[u6_2] [varchar](20) NULL,
	[u7_1] [varchar](20) NULL,
	[u7_2] [varchar](20) NULL,
	[u8_1] [varchar](20) NULL,
	[u8_2] [varchar](20) NULL,
	[Promedio] [varchar](20) NULL,
	[Semestre] [int] NOT NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carrera]    Script Date: 01/09/2022 07:50:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carrera](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](30) NOT NULL,
	[Logo] [varchar](max) NOT NULL,
	[Estatus] [varchar](15) NOT NULL,
	[Omoclave] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Grupo]    Script Date: 01/09/2022 07:50:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grupo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](40) NOT NULL,
	[ID_Maestro] [int] NOT NULL,
	[Estatus] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Grupo_Compuesto]    Script Date: 01/09/2022 07:50:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grupo_Compuesto](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_Grupo] [int] NOT NULL,
	[No_control] [int] NOT NULL,
	[Comentarios] [varchar](200) NULL,
	[Cal1] [varchar](10) NULL,
	[Cal2] [varchar](10) NULL,
	[Cal3] [varchar](10) NULL,
	[Cal4] [varchar](10) NULL,
	[Cal5] [varchar](10) NULL,
	[Cal6] [varchar](10) NULL,
	[Entrevista1] [date] NULL,
	[Entrevista2] [date] NULL,
	[Entrevista3] [date] NULL,
	[Estatus] [varchar](20) NULL,
	[Semestre] [int] NULL,
	[Asistencia1] [varchar](20) NULL,
	[Asistencia2] [varchar](20) NULL,
	[Asistencia3] [varchar](20) NULL,
	[Promedio] [int] NULL,
	[Circulo_Estudio] [bit] NULL,
	[Atencion_Medica] [bit] NULL,
	[Platicas] [bit] NULL,
	[Psicologica] [bit] NULL,
	[Apoyo_Externo] [bit] NULL,
	[A] [varchar](10) NULL,
	[B] [varchar](10) NULL,
	[D] [varchar](10) NULL,
	[N] [varchar](10) NULL,
	[I] [varchar](10) NULL,
	[R] [varchar](10) NULL,
 CONSTRAINT [PK__Grupo_Co__3214EC27066CB315] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Instituto]    Script Date: 01/09/2022 07:50:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Instituto](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](40) NOT NULL,
	[Logo] [varchar](max) NOT NULL,
	[Sitio] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Maestro]    Script Date: 01/09/2022 07:50:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Maestro](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RFC] [varchar](13) NOT NULL,
	[Nombre_Maestro] [varchar](40) NOT NULL,
	[A_Paterno] [varchar](20) NOT NULL,
	[A_Materno] [varchar](20) NOT NULL,
	[Clave] [varchar](150) NOT NULL,
	[Carrera] [varchar](30) NOT NULL,
	[Estatus] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Materia]    Script Date: 01/09/2022 07:50:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materia](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](40) NOT NULL,
	[Nombre_Corto] [varchar](30) NULL,
	[Semestre] [tinyint] NOT NULL,
	[Carrera] [varchar](40) NOT NULL,
	[Estatus] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Grupo]  WITH CHECK ADD FOREIGN KEY([ID_Maestro])
REFERENCES [dbo].[Maestro] ([ID])
GO
ALTER TABLE [dbo].[Grupo_Compuesto]  WITH CHECK ADD  CONSTRAINT [FK__Grupo_Com__ID_Gr__3C69FB99] FOREIGN KEY([ID_Grupo])
REFERENCES [dbo].[Grupo] ([ID])
GO
ALTER TABLE [dbo].[Grupo_Compuesto] CHECK CONSTRAINT [FK__Grupo_Com__ID_Gr__3C69FB99]
GO
ALTER TABLE [dbo].[Grupo_Compuesto]  WITH CHECK ADD  CONSTRAINT [FK__Grupo_Com__No_co__3D5E1FD2] FOREIGN KEY([No_control])
REFERENCES [dbo].[Alumno] ([No_control])
GO
ALTER TABLE [dbo].[Grupo_Compuesto] CHECK CONSTRAINT [FK__Grupo_Com__No_co__3D5E1FD2]
GO
/****** Object:  StoredProcedure [dbo].[stp_MateriasAlumno_Select]    Script Date: 01/09/2022 07:50:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

GO
USE [master]
GO
