USE [master]
GO
/****** Object:  Database [Tutoria]    Script Date: 16/05/2022 05:09:50 p. m. ******/
CREATE DATABASE [Tutoria]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Tutoria', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Tutoria.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Tutoria_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Tutoria_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Tutoria].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Tutoria]
GO
/****** Object:  User [UserTutoria]    Script Date: 16/05/2022 05:09:51 p. m. ******/
CREATE USER [UserTutoria] FOR LOGIN [UserTutoria] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [UserTutoria]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [UserTutoria]
GO
/****** Object:  Table [dbo].[Administrador]    Script Date: 16/05/2022 05:09:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Administrador](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Carrera] [varchar](40) NOT NULL,
	[Estatus] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Alumno]    Script Date: 16/05/2022 05:09:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alumno](
	[No_control] [int] NOT NULL,
	[Nombre] [nchar](25) NOT NULL,
	[A_Paterno] [nchar](25) NOT NULL,
	[A_Materno] [nchar](25) NULL,
	[Semestre] [int] NULL,
	[Carrera] [varchar](20) NOT NULL,
	[Estatus] [varchar](20) NOT NULL,
	[Tutoria] [tinyint] NOT NULL,
 CONSTRAINT [PK_Alumno] PRIMARY KEY CLUSTERED 
(
	[No_control] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bitacora]    Script Date: 16/05/2022 05:09:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacora](
	[Bitacora] [nchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carrera]    Script Date: 16/05/2022 05:09:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carrera](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](30) NOT NULL,
	[Logo] [varchar](max) NOT NULL,
	[Estatus] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Grupo]    Script Date: 16/05/2022 05:09:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grupo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](30) NOT NULL,
	[Tutor] [varchar](150) NOT NULL,
	[Estatus] [varchar](30) NOT NULL,
 CONSTRAINT [PK__Grupo__3214EC274F839B99] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Grupo_Compuesto]    Script Date: 16/05/2022 05:09:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grupo_Compuesto](
	[ID_Grupo] [int] NOT NULL,
	[No_control] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Instituto]    Script Date: 16/05/2022 05:09:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Instituto](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](40) NOT NULL,
	[Logo] [varchar](max) NOT NULL,
	[Sitio] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Maestro]    Script Date: 16/05/2022 05:09:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Maestro](
	[ID_Maestro] [nchar](13) NOT NULL,
	[Nombre_Maestro] [nchar](58) NOT NULL,
	[A_Paterno] [nchar](30) NOT NULL,
	[A_Materno] [varchar](30) NOT NULL,
	[Clave] [varchar](100) NULL,
	[Carrera] [varchar](20) NOT NULL,
	[Estatus] [varchar](30) NOT NULL,
 CONSTRAINT [PK_Maestro] PRIMARY KEY CLUSTERED 
(
	[ID_Maestro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TableTempo]    Script Date: 16/05/2022 05:09:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TableTempo](
	[USUARIO] [varchar](80) NULL,
	[TABLA] [varchar](80) NULL,
	[ACCION] [varchar](80) NULL,
	[REGISTRO] [varchar](80) NULL,
	[NOMBRE] [varchar](80) NULL,
	[DESCRIPCION] [varchar](80) NULL,
	[FECHA_HORA] [datetime] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Administrador] ADD  DEFAULT ('ACTIVO') FOR [Estatus]
GO
ALTER TABLE [dbo].[Alumno] ADD  CONSTRAINT [DF__Alumno__Carrera__324172E1]  DEFAULT ('vacio') FOR [Carrera]
GO
ALTER TABLE [dbo].[Alumno] ADD  CONSTRAINT [DF__Alumno__Estatus__3335971A]  DEFAULT ('No Asignado') FOR [Estatus]
GO
ALTER TABLE [dbo].[Alumno] ADD  CONSTRAINT [DF__Alumno__Tutoria__3429BB53]  DEFAULT ((0)) FOR [Tutoria]
GO
ALTER TABLE [dbo].[Carrera] ADD  DEFAULT ('Sin Logo') FOR [Logo]
GO
ALTER TABLE [dbo].[Carrera] ADD  DEFAULT ('ACTIVO') FOR [Estatus]
GO
ALTER TABLE [dbo].[Grupo] ADD  DEFAULT ('ACTIVO') FOR [Estatus]
GO
ALTER TABLE [dbo].[Maestro] ADD  DEFAULT ('Sin estatus') FOR [Estatus]
GO
ALTER TABLE [dbo].[Grupo_Compuesto]  WITH CHECK ADD FOREIGN KEY([ID_Grupo])
REFERENCES [dbo].[Grupo] ([ID])
GO
ALTER TABLE [dbo].[Grupo_Compuesto]  WITH CHECK ADD FOREIGN KEY([No_control])
REFERENCES [dbo].[Alumno] ([No_control])
GO
/****** Object:  StoredProcedure [dbo].[CustomListGroup]    Script Date: 16/05/2022 05:09:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


------LISTAR GRUPO PERSONALIZADO ---------
create proc [dbo].[CustomListGroup]
as
	select DISTINCT 	
	Grupo.ID_Grupo,Nombre_Maestro,
	Alumno.No_control, Alumno.Nombre,
	Grupo.No_Actual as Cupo_Grupo, Grupo.G_Tutoria as Grado_Tutoria,
	Grupo_Detalle.ID_Estado as Estado_Tutoria

	from Alumno
	INNER JOIN Grupo_Detalle ON Grupo_Detalle.No_control = Alumno.No_control
	INNER JOIN Grupo ON Grupo_Detalle.ID_Grupo = Grupo.ID_Grupo
	INNER JOIN Bitacora on Bitacora.ID_Grupo = Grupo.ID_Grupo
	INNER JOIN Maestro ON Maestro.ID_Maestro = Bitacora.ID_Maestro
GO
/****** Object:  StoredProcedure [dbo].[DeleteStudent]    Script Date: 16/05/2022 05:09:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[DeleteStudent]
@No_control nchar(10)
as

	DELETE FROM Alumno WHERE No_control = @No_control
	
GO
/****** Object:  StoredProcedure [dbo].[DeleteStudentFila]    Script Date: 16/05/2022 05:09:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[DeleteStudentFila]
@No_control nchar(10)
as

	DELETE FROM Alumno WHERE No_control = @No_control
	
GO
/****** Object:  StoredProcedure [dbo].[DeleteTeacher]    Script Date: 16/05/2022 05:09:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[DeleteTeacher]
@ID_Maestro nchar(13)
as

	DELETE FROM Maestro WHERE ID_Maestro = @ID_Maestro
	
GO
/****** Object:  StoredProcedure [dbo].[EditarAlumno]    Script Date: 16/05/2022 05:09:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[EditarAlumno]
@ncontrol nchar(10),
@nombre nchar(25),
@APaterno nchar(25),
@AMaterno nchar(25),
@semestre int,
@IdStatus nchar(2),
@GTutoria int,
@IdCarrera nchar(3)
as
	update Alumno set No_control=@ncontrol,
				Nombre=@nombre,
				A_Paterno=@APaterno,
				A_Materno=@AMaterno,
				Semestre=@semestre,
				ID_Status=@IdStatus,
				G_Tutoria=@GTutoria,
				ID_Carrera=@IdCarrera
		where No_control=@ncontrol
GO
/****** Object:  StoredProcedure [dbo].[EditTeacher]    Script Date: 16/05/2022 05:09:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[EditTeacher]
@ID_Maestro nchar(13),
@Nombre_Maestro nchar(58),
@Apellidos nchar(30),
@ID_Grupo int

as
	update Maestro set ID_Maestro=@ID_Maestro,
				Nombre_Maestro=@Nombre_Maestro,
				Apellidos=@Apellidos,
				ID_Grupo=@ID_Grupo
		where ID_Maestro=@ID_Maestro
GO
/****** Object:  StoredProcedure [dbo].[InsertarAlumno]    Script Date: 16/05/2022 05:09:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[InsertarAlumno]
@ncontrol nchar(10),
@nombre nchar(25),
@APaterno nchar(25),
@AMaterno nchar(25),
@semestre int,
@IdStatus nchar(2),
@GTutoria int,
@IdTutoria nchar(3)
as
insert into Alumno values (@ncontrol,@nombre,@APaterno,@AMaterno,@semestre,@IdStatus,@GTutoria,@IdTutoria)
GO
/****** Object:  StoredProcedure [dbo].[InsertTeacher]    Script Date: 16/05/2022 05:09:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[InsertTeacher]
@ID_Maestro nchar(13),
@Nombre_Maestro nchar(58),
@Apellidos nchar(30),
@ID_Grupo int

as
	insert into Maestro (ID_Maestro,Nombre_Maestro,Apellidos,ID_Grupo) values (@ID_Maestro,@Nombre_Maestro,@Apellidos,@ID_Grupo)
GO
/****** Object:  StoredProcedure [dbo].[ListaAlumnosLiberados]    Script Date: 16/05/2022 05:09:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[ListaAlumnosLiberados]
as
	 select 
	 Alumno.No_control, Alumno.Nombre, Alumno.A_Paterno, Alumno.A_Materno, Alumno.Semestre,
	 Carrera.Nombre_Carrera,
	 Alumno.G_Tutoria
	 --,Maestro.Nombre_Maestro
	 --,Estado.Nom_Estado as Estado
	 

	 from Alumno
		INNER JOIN Bitacora ON Bitacora.No_control = Alumno.No_control
		INNER JOIN Estado ON Estado.ID_Estado = Bitacora.ID_Estado
		INNER JOIN Carrera ON Carrera.ID_Carrera = Alumno.ID_Carrera
		INNER JOIN Maestro ON Maestro.ID_Maestro = Bitacora.ID_Maestro

	 where Estado.ID_Estado = 'L'
GO
/****** Object:  StoredProcedure [dbo].[ListarAlumnosModified]    Script Date: 16/05/2022 05:09:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[ListarAlumnosModified]
as
	SELECT No_control, Nombre, A_Paterno, A_Materno, Semestre,
	ID_Status, G_Tutoria, ID_Carrera
	FROM Alumno
GO
/****** Object:  StoredProcedure [dbo].[ListarCantidadTotalDeAlumnosPorEstados]    Script Date: 16/05/2022 05:09:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[ListarCantidadTotalDeAlumnosPorEstados]
as
	Select Estado.Nom_Estado AS Estado, COUNT(Estado.ID_Estado) as Cant
	from Bitacora
	INNER JOIN Estado ON Estado.ID_Estado = Bitacora.ID_Estado
	group by Estado.ID_Estado, Estado.Nom_Estado
	order by count(2)
GO
/****** Object:  StoredProcedure [dbo].[listarCarrera]    Script Date: 16/05/2022 05:09:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[listarCarrera]
as
	select * from Carrera
GO
/****** Object:  StoredProcedure [dbo].[ListarGrupoPorEstadoYMaestro]    Script Date: 16/05/2022 05:09:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[ListarGrupoPorEstadoYMaestro]
@ID_Estado nchar(1),
@Nombre_Maestro nchar(58)
as
	select DISTINCT
		Alumno.No_control, Alumno.Nombre, Alumno.A_Materno, Alumno.A_Paterno,
		Carrera.Nombre_Carrera,
		Grupo.G_Tutoria
		
	from Alumno
	
		INNER JOIN Bitacora ON Bitacora.No_control = Alumno.No_control
		INNER JOIN Grupo ON Bitacora.ID_Grupo = Grupo.ID_Grupo
		INNER JOIN Maestro ON Bitacora.ID_Maestro = Maestro.ID_Maestro
		INNER JOIN Estado ON Bitacora.ID_Estado = Estado.ID_Estado
		INNER JOIN Carrera ON Carrera.ID_Carrera = Alumno.ID_Carrera

	Where 
	--cambiar letra por un parámetro
	(Estado.ID_Estado = @ID_Estado ) 
	and (Maestro.Nombre_Maestro = @Nombre_Maestro)
GO
/****** Object:  StoredProcedure [dbo].[ListarGrupoPorNombreDelMaestro]    Script Date: 16/05/2022 05:09:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[ListarGrupoPorNombreDelMaestro]
@Nombre_Maestro nchar(58)
as
	Select 
	Alumno.No_control, Alumno.Nombre as Nombre_Alumno,
	Carrera.Nombre_Carrera,
	Estado.Nom_Estado as Estado
	
	
	from Alumno
		INNER JOIN Bitacora ON Bitacora.No_control = Alumno.No_control
		--INNER JOIN Grupo ON Bitacora.ID_Grupo = Grupo.ID_Grupo
		INNER JOIN Maestro ON Bitacora.ID_Maestro = Maestro.ID_Maestro
		INNER JOIN Estado ON Bitacora.ID_Estado = Estado.ID_Estado
		INNER JOIN Carrera ON Carrera.ID_Carrera = Alumno.ID_Carrera

		-- cambiar el nombre por una variable que recibirá
	Where Maestro.Nombre_Maestro = @Nombre_Maestro
GO
/****** Object:  StoredProcedure [dbo].[listarGrupoTutoria]    Script Date: 16/05/2022 05:09:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[listarGrupoTutoria]
as
	select * from GTutoria
GO
/****** Object:  StoredProcedure [dbo].[ListarMaestros]    Script Date: 16/05/2022 05:09:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[ListarMaestros]
as
	select * From Maestro 
GO
/****** Object:  StoredProcedure [dbo].[listarMaestrosParaTablaGrupos]    Script Date: 16/05/2022 05:09:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[listarMaestrosParaTablaGrupos]
as	
	select ID_Maestro, Nombre_Maestro from Maestro
GO
/****** Object:  StoredProcedure [dbo].[listarStatus]    Script Date: 16/05/2022 05:09:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[listarStatus]
as
	select * from Status
GO
/****** Object:  StoredProcedure [dbo].[SelectQuery]    Script Date: 16/05/2022 05:09:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SelectQuery]
AS
	SET NOCOUNT ON;
SELECT        Grupo_Detalle.ID_Grupo AS Expr2, Grupo_Detalle.ID_Detalle, Grupo_Detalle.No_control AS Expr1, Grupo_Detalle.ID_Estado, Alumno.*, Maestro.*
FROM            Grupo_Detalle INNER JOIN
                         Alumno ON Grupo_Detalle.No_control = Alumno.No_control CROSS JOIN
                         Maestro
GO
/****** Object:  StoredProcedure [dbo].[SelectQueryEspecifico]    Script Date: 16/05/2022 05:09:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SelectQueryEspecifico]
AS
	SET NOCOUNT ON;
SELECT        Grupo_Detalle.ID_Grupo AS Expr2, Grupo_Detalle.ID_Detalle, Grupo_Detalle.No_control AS Expr1, Grupo_Detalle.ID_Estado, Alumno.*, Maestro.*
FROM            Grupo_Detalle INNER JOIN
                         Alumno ON Grupo_Detalle.No_control = Alumno.No_control CROSS JOIN
                         Maestro
GO
USE [master]
GO
