<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Minimal.master.cs" Inherits="TutoriasWeb.Minimal" %>

<!DOCTYPE html>
<html>
<head runat="server">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Tutorias</title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
       
    <style>
        
    
    
    </style>

</head>

 

<body>
    <form id="form1" runat="server">
       
   
       
        

    

    <header class="site-header" >
        
		
    </header><!-- #masthead -->
        

        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">

                
        </asp:ContentPlaceHolder>
        

    </form>
</body>
</html>